html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.container {
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  padding-bottom: 150px;
}

.section--decor {
  position: relative;
}

.section--decor::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/section-decor.png);
  width: 22px;
  height: 30px;
}
.section--decor::after {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 13px;
  width: 1000%;
  height: 1px;
  background-color: #7b6152;
}

.title {
  margin-bottom: 15px;
  font-family: "Yeseva One", cursive;
  font-size: 40px;
  font-weight: 400;
}

.button {
  padding: 18px 54px;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  font-weight: 600;
  background-color: #ffbd59;
  cursor: pointer;
}

.header {
  background-color: #fff8f3;

  &__inner {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    gap: 20px;
  }

  &__list-link {
    text-transform: uppercase;
  }

  &__btn {
    display: none;

    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
  }
  &__btn span {
    width: 100%;
    height: 1px;
    background-color: #7b6152;
  }
}

.phone {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url(../img/phone.svg);
    width: 20px;
    height: 20px;
    top: -3px;
    left: -23px;
  }
}

.main {
  background-color: #fff8f3;
  overflow-x: clip;
}

.top {
  padding: 40px 0 150px;
  &__inner {
    position: relative;
  }
  &__content {
    padding: 150px 0 250px;
    width: 370px;
  }
  &__title {
    margin-bottom: 15px;
    font-family: "Yeseva One", cursive;
    font-size: 30px;
    font-weight: 400;
  }
  &__text {
    margin-bottom: 48px;
  }
  &__buy {
    padding: 18px 54px;
    font-family: "Comfortaa", cursive;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffbd59;
    cursor: pointer;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 240px;
  }
}

.about {
  margin-bottom: 150px;
  padding: 50px 0;
  color: #fafafa;
  background-color: #a5978e;

  &__inner {
    display: flex;
    align-items: center;
  }
  &__content {
    width: 370px;
  }
  &__text {
    margin-bottom: 15px;
  }
  &__list {
    padding-left: 110px;
    padding-bottom: 48px;
    display: flex;
    align-items: center;
    gap: 0 20px;
    flex-basis: 930px;
  }
  &__item-img {
    margin-bottom: 10px;
  }
  &__item-text {
    font-size: 11px;
  }
}

.products {
  &__content {
    gap: 50px 90px;
  }
  &__item {
    margin: 0 auto;
    width: 290px;
    text-align: center;
  }
  &__item-img {
    margin-bottom: 8px;
  }
  &__item-price {
    margin-bottom: 12px;
    font-family: "Yeseva One", cursive;
    font-size: 16px;
    font-weight: 400;
  }
  &__item-title {
    margin-bottom: 16px;
    font-family: "Yeseva One", cursive;
    font-size: 16px;
    font-weight: 400;
  }
  &__item-text {
    margin-bottom: 27px;
    font-size: 12px;
  }
}

.section__inner {
  display: grid;
  grid-template-columns: 370px auto;
}
.section__content-descr {
  padding-bottom: 92px;
  display: grid;
  grid-template-columns: auto auto;
}

.steps {
  &__list {
    gap: 70px 25px;
    counter-reset: number;
  }
  &__item {
    position: relative;
    display: flex;
    gap: 40px;
    list-style: none;
  }
  &__item::before {
    position: absolute;
    left: 0;
    bottom: 0;
    counter-increment: number;
    content: "0" counter(number);
    font-family: "Yeseva One", cursive;
    font-size: 30px;
    color: #bea495;
  }
  &__item--even::before {
    right: 0;
    left: auto;
  }
  &__item:nth-child(n + 10)::before {
    content: counter(number);
  }
  &__item-text {
    padding-bottom: 40px;
    flex-basis: 174px;
  }
}

.courses {
  &__item-img {
    position: relative;
    font-family: "Yeseva One", cursive;
    font-size: 11px;
    color: #fff;
  }
  &__title {
    position: absolute;
    top: 45%;
    left: -1px;
    padding: 15px;
    background-color: #bea495;
  }
  &__time {
    position: absolute;
    top: 60%;
    left: -1px;
    padding: 7px 10px;
    background-color: #bea495;
  }
  &__time span {
    font-family: Comfortaa;
    font-size: 10px;
  }
  &__price {
    position: absolute;
    right: 12px;
    bottom: 0px;
    padding: 19px 10px;
    background-color: #bea495;
  }
}

.team {
  margin-bottom: 150px;
  padding: 80px 0 60px;
  color: #fff;
  background-color: #a5978e;
  &__content {
    padding-bottom: 0;
    gap: 75px;
  }
  &__item {
    position: relative;
  }
  &__item-box {
    width: 165px;
    padding: 15px 10px 16px;
    position: absolute;
    right: 33px;
    bottom: 8px;
    text-align: center;
    background-color: #7b6152;
    z-index: 4;
  }
  &__item-name {
    font-family: "Yeseva One", cursive;
    font-size: 12px;
  }
  &__item-descr {
    font-size: 10px;
  }
}

.footer {
  padding-top: 40px;
  padding-bottom: 35px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contacts {
    width: 230px;
    display: flex;
    flex-direction: column;
  }
  &__social {
    display: flex;
    gap: 15px;
  }
}

.email {
  margin: 17px 0;
}

/** MEDIA **/

@media (max-width: 1050px) {
  .steps {
    &__item {
      gap: 0 30px;
    }
    &__list {
      gap: 37px 35px;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .top {
    &__content {
      padding: 95px 0 70px;
      width: 333px;
    }
    &__img {
      left: 300px;
    }
    &__img-l {
      width: 655px;
    }
    &__text {
      margin-bottom: 30px;
    }
  }
  .about {
    &__content {
      width: 300px;
    }
    &__list {
      padding-left: 20px;
    }
  }
  .section {
    &__inner {
      grid-template-columns: 290px auto;
      gap: 0 10px;
    }
    &__text {
      font-size: 10px;
    }
  }
  .products {
    &__content {
      gap: 67px;
    }
  }
}

@media (max-width: 980px) {
  .steps {
    &__title {
      font-size: 30px;
    }
    &__list {
      gap: 25px 35px;
    }
    &__item {
      gap: 0 20px;
    }
    &__item::before {
      font-size: 20px;
    }
    &__item-img {
      width: 85px;
      object-fit: cover;
    }
    &__item-text {
      font-size: 8px;
    }
  }
}

@media (max-width: 900px) {
  .section {
    &__inner {
      grid-template-columns: 200px auto;
    }
  }
  .products {
    &__content {
      gap: 30px 16px;
    }
  }

  .footer {
    &__inner {
      flex-wrap: wrap;
    }
    &__contacts {
      padding-top: 15px;
      width: 100%;
      text-align: center;
    }
    &__social {
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .container {
    max-width: 640px;
  }
  .phone {
    &::before {
      width: 14px;
      height: 14px;
      top: -2px;
      left: -16px;
      background-size: cover;
    }
  }
  .top {
    &__content {
      width: 230px;
    }
    &__title {
      margin-bottom: 20px;
      font-size: 20px;
    }
    &__text {
      margin-bottom: 20px;
    }
    &__img {
      left: 180px;
    }
  }
  .about {
    &__content {
      min-width: 200px;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__list {
      margin-left: 27px;
      margin-bottom: 33px;
      gap: 0 10px;
    }
    &_item-img {
      margin-bottom: 6px;
    }
    &__item-img--size {
      width: 120px;
    }
    &__item-img--length {
      width: 190px;
    }
    &__item-text {
      font-size: 6px;
    }
  }
  .title {
    font-size: 15px;
  }
  .products {
    &__item {
      width: 200px;
    }
    &__item-img {
      margin-bottom: 6px;
      width: 200px;
    }
    &__item-price {
      margin-bottom: 7px;
      font-size: 12px;
    }
    &__item-title {
      margin-bottom: 9px;
      font-size: 12px;
    }
    &__item-text {
      margin-bottom: 18px;
      font-size: 8px;
    }
  }
  .button {
    padding: 10px 26px;
    font-size: 12px;
  }
  .courses {
    &__title {
      padding: 6px;
      top: 40%;
      left: -1px;
    }
    &__time {
      padding: 5px;
      top: 55%;
      left: -1px;
    }
    &__price {
      padding: 10px;
      right: 0;
    }
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .header {
    &__menu {
      order: 1;
    }
    &__menu-list {
      position: absolute;
      top: 0;
      left: 0;
      width: 153px;
      padding: 25px 35px 25px 45px;
      flex-direction: column;
      transform: translateY(-110%);
      transition: transform 0.5s ease;
      color: #fff8f3;
      background-color: #7b6152;
      z-index: 5;
    }
    &__menu-list.menu--open {
      transform: translateY(0%);
    }
  }

  .menu {
    &__btn {
      display: flex;
    }
  }
  .section__inner {
    display: block;
  }
  .section__descr {
    margin-bottom: 30px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .top {
    padding: 30px 0 50px;
    &__content {
      width: 180px;
    }
    &__title {
      margin-bottom: 15px;
      font-size: 15px;
    }
    &__text {
      margin-bottom: 15px;
      font-size: 8px;
    }
    &__img {
      left: 167px;
    }
    &__img-l {
      width: 309px;
    }
    &__buy {
      padding: 14px 41px;
      font-size: 10px;
    }
  }
  .about {
    margin-bottom: 50px;
    &__inner {
      align-items: flex-end;
    }
    &__content {
      max-width: 170px;
    }
    &__list {
      margin-left: 0;
      margin-bottom: 0;
      padding-left: 10px;
      gap: 0 5px;
      align-items: flex-end;
    }
    &__item-img--size {
      width: 80px;
    }
    &__item-img--length {
      width: 140px;
    }
    &__item-text {
      display: none;
    }
  }
  .section {
    padding-bottom: 50px;
  }
  .section__content-descr {
    padding-bottom: 62px;
  }
  .section__descr {
    margin: 0 auto 30px;
    width: 300px;
  }
  .steps {
    &__list {
      gap: 25px 40px;
    }
  }
  .footer {
    padding: 50px 0;
    font-size: 14px;
    &__inner {
      flex-direction: column;
    }
    &__menu {
      padding: 50px 0;
      text-align: center;
    }
    &__menu-list {
      flex-direction: column;
    }
  }
}

@media (max-width: 404px) {
  .steps {
    &__list {
      gap: 20px 25px;
    }
    &__item {
      gap: 0 16px;
    }
    &__item-img {
      width: 66px;
    }
    &__item-text {
      font-size: 6px;
    }
  }
  .courses {
    &__content {
      grid-template-columns: auto;
    }
  }
}

@media (max-width: 360px) {
  .top {
    &__content {
      padding: 20px 0 0;
      width: 200px;
    }
    &__title {
      font-size: 18px;
    }
    &__text {
      font-size: 10px;
    }
    &__img {
      left: auto;
      right: 0;
    }
    &__img-l {
      width: 180px;
    }
  }
  body {
    font-size: 8px;
  }
  .about {
    padding-top: 25px;
    padding-bottom: 10px;
    &__content {
      min-width: 233px;
    }
    &__list {
      margin-left: 12px;
      padding-left: 12px;
      padding-bottom: 30px;
      gap: 0 15px;
    }
    &__item-img--length {
      display: none;
    }
  }
  .title {
    margin-bottom: 10px;
  }
  .section__descr {
    margin: 0 auto 25px;
    width: 235px;
  }
  .products {
    &__item {
      width: 150px;
    }
    &__content {
      gap: 40px 7px;
    }
    &__item-img {
      width: 150px;
    }
    &__item-price {
      margin-bottom: 5px;
      font-size: 10px;
    }
    &__item-title {
      font-size: 10px;
    }
    &__item-text {
      margin-bottom: 16px;
    }
  }
  .button {
    padding: 8px 20px;
    font-size: 8px;
  }
  .steps {
    &__item-text {
      font-size: 6px;
    }
  }
  .courses__item,
  .courses__item img {
    width: 255px;
  }
}

/** MEDIA ENDS **/
